* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    width: 800px;
    margin: 0 auto;
    text-align: center;
}

.prodotto {
    position: relative;
    display: inline-block;
}

.prodotto img {
    width: 250px;
    height: 300px;
    border-bottom: 25px solid lightgrey;
    object-fit: contain;
    background-color: lightgrey;
}

.sconto {
    position: absolute;
    top: 0;
    right: 0;
}

#s30 {
    background-color: green;
}

#s5 {
    background-color: red;
}

.heart {
    font-size: 30px;
    position: absolute;
    bottom: 5px;
    left: 0;
    width: 100%;
    display: none;
}

.prodotto:hover .heart {
    cursor: pointer;
    display: block;
}

.heart:active {
    color: red;
}
