* {
    box-sizing: border-box;
}

.base {
    width: 1000px;
    height: 800px;
    background-color: white;
    border: 3px solid black;
    margin: auto;
}

.riga {
    width: 1000px;
    height: 395px;
    position: relative;
}

.primo{
    width: 330px;
    height: 395px;
    background-color: #F5F5F5;
    border: 5px solid white;
    position: absolute;
    left: 5px;
}

.secondo {
    width: 330px;
    height: 395px;
    border: 5px solid white;
    background-color: #F5F5F5;
    position: absolute;
    left: 330px;
}

.terzo {
    width: 330px;
    height: 395px;
    border: 5px solid white;
    background-color: #F5F5F5;
    position: absolute;
    right: 15px;
}

.image1 {
    width: 200px;
    height: 300px;
    text-align: center;
    background-image: url("../img/ipad.png");
    background-repeat: round;
    background-size: cover;
    margin: 50px 0 50px 50px;
    z-index: 1;
    cursor: pointer;
}

.image2 {
    width: 250px;
    height: 350px;
    text-align: center;
    background-image: url("../img/iphone.png");
    background-repeat: round;
    background-size: cover;
    margin: 0 0 50px 50px;
    z-index: 1;
    cursor:pointer;
}

.image3 {
    width: 200px;
    height: 300px;
    text-align: center;
    background-image: url("../img/beats.jpg");
    background-repeat: round;
    background-size: cover;
    margin: 50px 0 50px 50px;
    z-index: 1;
    cursor: pointer;
}

.sconto-verde {
    width: 35px;
    height: 15px;
    position: absolute;
    right: 0;
    top: 0;
    background-color: green;
}

.sconto-rosso {
    width: 30px;
    height: 15px;
    position: absolute;
    right: 0;
    top: 0;
    background-color: red;
}

span{
    cursor: pointer;
    font-size: 20pt;
    position: absolute;
    color: black;
    bottom: 0;
    text-align: center;
}
